<footer class="footer-section">

    <div class="container py-5">

        <div class="row g-4">

            <!-- Brand -->

            <div class="col-lg-5">

                <h4 class="footer-brand">
                    <i class="fas fa-robot me-2"></i>
                    DevPath AI
                </h4>

                <p class="footer-text">
                    AI-powered personalized learning roadmaps
                    designed to help aspiring developers build
                    the skills they need for their dream careers.
                </p>

            </div>


            <!-- Platform -->

            <div class="col-6 col-lg-2">

                <h6>Platform</h6>

                <ul class="footer-links">

                    <li>
                        <a href="{% url 'home' %}#features">
                            Features
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'home' %}#careers">
                            Career Paths
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Roadmaps
                        </a>
                    </li>

                </ul>

            </div>


            <!-- Company -->

            <div class="col-6 col-lg-2">

                <h6>Company</h6>

                <ul class="footer-links">

                    <li>
                        <a href="#">
                            About
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Contact
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Privacy
                        </a>
                    </li>

                </ul>

            </div>


            <!-- Account -->

            <div class="col-6 col-lg-3">

                <h6>Account</h6>

                <ul class="footer-links">

                    <li>
                        <a href="{% url 'login' %}">
                            Login
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'register' %}">
                            Register
                        </a>
                    </li>

                </ul>

            </div>

        </div>


        <hr class="footer-divider">


        <div class="text-center">

            <p class="copyright mb-0">
                © 2026 DevPath AI. All rights reserved.
            </p>

        </div>

    </div>

</footer>